body {
    background-color: black;
    color: wheat;
}

#headerD {
    background-color: wheat;
}

.profilePicture {

    width: 140px;
    height: 130px;
    overflow: hidden;
    padding-left: 23px;
}

#bodyContent {
    background-color: brown
}

.info {
    text-align: left;
}

input {
    text-align: center;
}

.Date {
    text-align: center;
    margin-left: 1300px;
}