* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 0 25% 0 25%;

}



.item {
  background-color: aqua;
  height: 10em;

}

.item:first-child {
  grid-column: 1/5;
  height: 3em;
  background-color: gray;
}

.item:last-child {
  grid-column: 1/5;
  height: 3em;
  background-color: gray;
}

.item:nth-child(2) {
  grid-column: 1/4;
  background-color: blue;
}

.item:nth-child(9) {
  grid-column: 2/5;
  background-color: blue;
}

.item:nth-child(7) {
  grid-column-end: 2;
  grid-row-start: 4;

}

.item:nth-child(8) {
  grid-column-end: 5;
  grid-row-start: 5;
  background-color: orange;
}

.item:nth-child(n+4):nth-child(-n+6) {
  background-color: yellow;
}

.item:nth-child(n+10):nth-child(-n+12) {
  background-color: orange;
}