* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#container {
  display: flex;
  flex-flow: row wrap;
  border: 1em solid orange;
  margin: 0.75em 0.75em;

}

.item {

  font-size: 10em;
  text-align: center;
  color: white;
  width: 25%;
  text-shadow: gray 5px 5px 10px;

}