html body {
  margin: 0;
  height: 100%
}


.green-Box1 {
  max-height: 100%;
  max-width: 100%;
  padding: 2%;
  background-color: green;
}

.yellow-Box2 {
  width: 95%;
  height: 95%;
  padding: 2%;
  background-color: yellow;
}

.green-Box3 {
  width: 95%;
  height: 95%;
  padding: 2%;
  background-color: green;
}

.yellow-Box4 {
  width: 95%;
  height: 95%;
  padding: 2%;
  background-color: yellow;
}

.green-Box5 {
  width: 95%;
  height: 95%;
  padding: 2%;
  background-color: green;
}

#text-box {
  text-align: center;
  color: white;
  padding: 220px;
  font-size: 5vw;
}