* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #07031a;
  color: #ffcb74;
  font-family: 'Indie Flower', cursive;

}



header aside {
  color: white;
  display: flex;
  position: fixed;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 6em;
  height: 8em;
  font-family: 'Galindo', cursive;
  background-color: #ffcb74;
  transform: translateY(-5.7em);
  animation: bar 1s;
  width: 100%
}

header aside a {
  text-decoration-line: none;
}

header aside a:hover {
  text-decoration-line: none;
  border-bottom: 3px solid white;
}



@keyframes bar {
  from {
    transform: translateY(-13em)
  }

  to {
    transform: translateY(-5.7em)
  }

}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  width: 61em;
  margin: 25vh;
  position: absolute;

}

.Bio {
  /* color: white; */
  width: 15em;
  margin: 4em;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;

}

.logo-Bio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.logo {
  color: white;
  font-size: 3em;
  font-family: 'Galindo', cursive;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20em;
  text-align: center;
}

.menu a {

  font-family: 'Indie Flower', cursive;
  text-decoration-line: none;
  color: white;
  font-size: 3em;
}





.backfooter {

  position: fixed;
  width: 100%;
  padding: 1em;
  bottom: 0;
  background-color: gray;
  z-index: -1;
  opacity: 50%;
}

.textfooter {
  color: white;
  bottom: 0;
  position: fixed;
  margin-left: 45%;
  padding: 1vh;

}

#info-cont {

  margin-left: 30em;
  font-family: 'Indie Flower', cursive;
  font-size: 1.1em;
}

#info-cont a {

  color: white
}

#info-cont h3 {
  color: #07031A;
}

#info-cont h3 {
  background-color: #ffcb74;
}


.menu a:hover:nth-child(odd) {
  /* background: #4f8a8b; */
  border-left: 4px solid #ffcb74;
  transform: translateX(-0.5em);
  opacity: 80%;
}

.menu a:hover:nth-child(even) {
  padding: 0.2em;
  /* background: #4f8a8b; */
  border-right: 4px solid #ffcb74;
  transform: translateX(0.5em);
  opacity: 80%;
}




::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 20.5%;
  max-height: 100%;
  margin: 0;
  background: #07031a;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-80px);
  transform-origin: right top;
  border-radius: 20px;
}

.horizontal-scroll-wrapper>div {
  display: flex;
  padding: 0em;
  background: white;
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  padding: 4em 0 0 0;
  margin: 11% 0 0 10%;

}

.squares>div {
  width: 40vh;
  height: 40vh;
  opacity: 70%;
  overflow: hidden;
  animation: scorl 2s;
}

@keyframes scorl {
  from {
    width: 50vh;
    height: 50vh;
  }

  to {
    width: 40vh;
    height: 40vh;
  }
}

.squares>div:hover {
  width: 41vh;
  height: 41vh;
  box-shadow: black 3px 4px 60px;
  opacity: 100%;

}





.container {
  position: relative;
  width: 100%;
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;

}

.container:hover .overlay {
  opacity: 60%;
}

.text {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-w img {
  transform: translateX(-10em);
}
















/* * {
  margin: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}


#TV-Static {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container-1 {
  display: flex;
  width: 120vh;
  transform: translateX(50vh) translateY(30vh);
}

.menu-1 {
  display: grid;
  padding-left: 30vh;
  grid-template-rows: 1fr 2fr 1fr;
}


.menu-1 a img:hover {
  padding: 10px;
  background: #222831;
  border-left: 4px solid rosybrown;
  border-right: 4px solid rosybrown;
}

.item-0 {
  width: 30%;
  margin-right: 20vh;
}

.Bio-1 {
  color: brown;
  width: 30vh;
  margin-top: 9vh;
}


#info-cont {
  color: white;
  margin-left: 40vh;
}

.backfooter {

  position: fixed;
  width: 100%;
  padding: 2vh;
  bottom: 0;
  background-color: gray;
  z-index: -1;
  opacity: 50%;
}

.textfooter {
  color: white;
  bottom: 0;
  position: fixed;
  margin-left: 40%;
  padding: 1vh;

}

.menu-1 a img:visited {
  border: 16px solid #ff33ff;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */