* {
  margin: 0;
}

#TV-Static {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container-1 {
  display: flex;
  transform: translateX(25%) translateY(80%);

}

.item-1 {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;


}


.item-1 a img:hover {
  width: 12rem;
}

.item-0 {

  width: 30%;
  margin-right: 20vh;
}

.Bio-1 {
  color: brown;
  width: 50%;

  margin-top: 9vh;
}

#info-cont {
  color: white;
  margin-left: 20%;
}
