* {
  margin-bottom: 15px
}


div {
  border: 1px solid black;
}

.div-6 p {
  border: 1px dotted black
}

.div-6 {
  color: red;
  background-color: white;
  border: 2px dotted red
}

.div-5 {
  background-color: white;
}

.div-4 {
  background-color: white;
}

.div-4 span {
  background-color: orange
}

#world-1 {

  background-color: yellow !important
}

.div-5 span {
  background-color: tomato;
}

body {
  background-color: wheat;
}

div {
  width: 75%;
}